@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Anton:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  color: #fff;
  font-family: Anton;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7.125rem;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.9375rem;
          flex: 0 0 1.9375rem;
  position: relative;
  z-index: 2;
}

.header__phone {
  font-size: 1.0625rem;
  line-height: 1.5294117647;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  left: 0;
}

.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.9375rem;
  line-height: 1.3333333333;
  min-height: 3.75rem;
}

.footer__author {
  padding-left: 0.625rem;
}

.home {
  position: relative;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.home__content {
  position: relative;
  z-index: 2;
  font-family: Anton;
  color: #fff;
  text-transform: uppercase;
  max-width: 32.5rem;
}

.home__sub-title {
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@supports (font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .home__sub-title {
    font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .home__sub-title {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.home__title {
  line-height: 1.5;
}

@supports (font-size: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
  .home__title {
    font-size: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
  .home__title {
    font-size: calc(3.125rem + 3.125 * (100vw - 20rem) / 55);
  }
}

.home__button {
  line-height: 1.5294117647;
  text-align: center;
  letter-spacing: 0.1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #FFFFFF;
  padding: 0 2.5rem;
}

@supports (font-size: clamp( 0.875rem , 0.8068181818rem  +  0.3409090909vw , 1.0625rem )) {
  .home__button {
    font-size: clamp( 0.875rem , 0.8068181818rem  +  0.3409090909vw , 1.0625rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8068181818rem  +  0.3409090909vw , 1.0625rem )) {
  .home__button {
    font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 55);
  }
}

@supports (min-height: clamp( 2.8125rem , 2.5397727273rem  +  1.3636363636vw , 3.5625rem )) {
  .home__button {
    min-height: clamp( 2.8125rem , 2.5397727273rem  +  1.3636363636vw , 3.5625rem );
  }
}

@supports not (min-height: clamp( 2.8125rem , 2.5397727273rem  +  1.3636363636vw , 3.5625rem )) {
  .home__button {
    min-height: calc(2.8125rem + 0.75 * (100vw - 20rem) / 55);
  }
}

@supports (margin-top: clamp( 0.625rem , 0.4204545455rem  +  1.0227272727vw , 1.1875rem )) {
  .home__button {
    margin-top: clamp( 0.625rem , 0.4204545455rem  +  1.0227272727vw , 1.1875rem );
  }
}

@supports not (margin-top: clamp( 0.625rem , 0.4204545455rem  +  1.0227272727vw , 1.1875rem )) {
  .home__button {
    margin-top: calc(0.625rem + 0.5625 * (100vw - 20rem) / 55);
  }
}

.home__button:active {
  color: rgb(255, 123, 0);
  border: 1px solid rgb(255, 123, 0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.home__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home__img-ibg {
  height: 100%;
}

.about {
  font-family: "Anton";
}

@supports (padding-top: clamp( 3.125rem , 1.7613636364rem  +  6.8181818182vw , 6.875rem )) {
  .about {
    padding-top: clamp( 3.125rem , 1.7613636364rem  +  6.8181818182vw , 6.875rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.7613636364rem  +  6.8181818182vw , 6.875rem )) {
  .about {
    padding-top: calc(3.125rem + 3.75 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
  .about {
    padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.9886363636rem  +  5.6818181818vw , 6.25rem )) {
  .about {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 55);
  }
}

.about__title {
  line-height: 1.5;
  text-transform: uppercase;
}

@supports (font-size: clamp( 2.1875rem , 1.8465909091rem  +  1.7045454545vw , 3.125rem )) {
  .about__title {
    font-size: clamp( 2.1875rem , 1.8465909091rem  +  1.7045454545vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.8465909091rem  +  1.7045454545vw , 3.125rem )) {
  .about__title {
    font-size: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 2.1875rem , 1.7329545455rem  +  2.2727272727vw , 3.4375rem )) {
  .about__title {
    margin-bottom: clamp( 2.1875rem , 1.7329545455rem  +  2.2727272727vw , 3.4375rem );
  }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.7329545455rem  +  2.2727272727vw , 3.4375rem )) {
  .about__title {
    margin-bottom: calc(2.1875rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.about__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__sub-title {
  line-height: 1.52;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.25rem , 1.1363636364rem  +  0.5681818182vw , 1.5625rem )) {
  .about__sub-title {
    font-size: clamp( 1.25rem , 1.1363636364rem  +  0.5681818182vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1363636364rem  +  0.5681818182vw , 1.5625rem )) {
  .about__sub-title {
    font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .about__sub-title {
    margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .about__sub-title {
    margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.about__text {
  font-family: "Open Sans";
  line-height: 1.625;
  text-align: justify;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .about__text {
    font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .about__text {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
  .about__text {
    margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5909090909rem  +  4.5454545455vw , 5rem )) {
  .about__text {
    margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 55);
  }
}

.about__box-img {
  position: relative;
}

.about__box-img_d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .about__box-img_d {
    gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .about__box-img_d {
    gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

.about__img-ibg {
  padding-bottom: 58.8662790698%;
}

.about__img-ibg_d {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (min-width: 29.99875em) {
  .footer__copy {
    margin-right: 3.75rem;
  }
}

@media (min-width: 47.99875em) {
  .header {
    position: absolute;
  }

  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-left: 4.3125rem;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item {
    margin-right: 2.5rem;
  }

  .about__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    min-height: 5rem;
  }
}

@media (max-width: 47.99875em) {
  .header {
    background: rgb(43, 57, 159);
    position: relative;
  }

  .header__container {
    min-height: 3.75rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__phone {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 6.25rem 0.9375rem 1.875rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background: rgb(199, 178, 178);
  }

  .menu__body:before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 3.75rem;
    background: rgb(43, 57, 159);
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__list {
    text-align: center;
  }

  .menu__item {
    margin-bottom: 1.25rem;
  }

  .menu__link {
    font-size: 1.75rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(255, 249, 249);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .home__button {
    padding: 0 1.25rem;
  }

  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.125rem;
  }
}

@media (max-width: 29.99875em) {
  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__row {
    row-gap: 2.5rem;
  }
}

@media (any-hover: hover) {
  .header__phone:hover {
    color: rgb(255, 123, 0);
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .menu__link:hover {
    color: rgb(255, 123, 0);
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .home__button:hover {
    color: rgb(255, 123, 0);
    border: 1px solid rgb(255, 123, 0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}